.tooltiparrow {
  box-shadow: rgb(17 17 23 / 20%) 2px 2px 10px;
}
.tooltiparrow::after {
  content: "";
  display: block;
  width: 0px;
  height: 0px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid rgb(255, 255, 255);
  position: absolute;
  bottom: 100%;
  left: 24px;
}
#app {
  height: 100%;
}

.blocksection::before {
  background-color: rgb(254, 240, 138, 0.5);
  content: "";
  top: 0;
  left: 0;
  z-index: -1;
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}
